[submodule "byol-pytorch"]
	path = byol-pytorch
	url = https://github.com/lucidrains/byol-pytorch.git

[submodule "robomimic"]
	path = robomimic
	url = https://github.com/ARISE-Initiative/robomimic.git
	branch = diffusion-policy-mg
[submodule "mobile-aloha"]
	path = mobile-aloha
	url = https://github.com/MarkFzp/mobile-aloha
